* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
ol, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.block {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    position: fixed;
    bottom: 150px;
}
.box {
    background-color: #0A22F4;
    height: 308px;
    max-width: 1920px;
    width: 100%;
}
.color {
    background-color: #FFFFFF;
    display: inline-block;
}
.image {
    width: 300px;;
    height: 295px;
}
.title {
    color: #FFFFFF;
    margin: 240px, 70px, 0, 200px;
}
.position {
    position: absolute;
    top: 150px;
    width: 90px;

}