* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
ol, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.block {
    display: inline-block;
    vertical-align: middle;
}
.box {
    background-color: #0A22F4;
}
.color {
    background-color: #FFFFFF;
}